@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
  url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
  url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

form {
  display: flex;
}

input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  width: 50em;
}

::placeholder {
  color: #8e8ea0;
  opacity: 1;
}

input[type="submit"] {
  padding: 10px 16px;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.result {
  font-weight: bold;
  /*margin-top: 40px;*/
}

table.history_table {
  margin: 1em auto;
  width: 50em;
  border-collapse: collapse;
  font-size: 1.25em;
  line-height: 1.25em;
  font-family: "Times New Roman", "STSong", "??", STKaiti, "????", serif;
}

.history_table th, .history_table td {
  padding: 4px 8px;
}

.history_table tbody tr:nth-child(odd) {
  background: #bcd5cc;
}

.history_table tr *:nth-child(3), .history_table tr *:nth-child(4) {
  text-align: right;
}
